Import Modules
Sqlite verlangt für Strings ""
Sqlite Date Time formate https://www.sqlite.org/lang_datefunc.html
SQlite NULL für ID
SQLite nan to NULL

In [1]:
#Import Modules
import os, sqlite3
import pandas as pd
import numpy as np
import glob
import datetime

In [2]:
# creating file (path) name
dbfile = './DATA/BINA_DATA.db' 

# Test if the database file is available in the colab workspace
if os.path.exists(dbfile):
    # Create database (file) and Open a (SQL) connection 
    connection = sqlite3.connect(dbfile)
    # Create a data cursor to exchange information between Python and SQLite
    cursor = connection.cursor()
else:
    print("Angegebene Database wurde nicht gefunden")
    # Create database (file) and Open a (SQL) connection 
    connection = sqlite3.connect(dbfile)
    # Create a data cursor to exchange information between Python and SQLite
    cursor = connection.cursor()
    #sys.exit(0)

Angegebene Database wurde nicht gefunden

In [3]:
# Tabelle erstellen
sql = ["CREATE TABLE city (id INTEGER PRIMARY KEY, plz string, cityName string, bfsID string, lawCityName string, kantonkuerzel string)",
"CREATE TABLE smartmeter (id INTEGER PRIMARY KEY, plz REFERENCES city(plz) ON UPDATE CASCADE, timestamp string, anzMeter int,valueKwh float)",
"CREATE TABLE solarPlants (id INTEGER PRIMARY KEY, xtfID string, plz string, totalPower float, mainCategory string, subCategory string, plantCategory string,  _x int,  _y int, FOREIGN KEY (plz) REFERENCES city(plz) ON UPDATE CASCADE, FOREIGN KEY (subCategory) REFERENCES subCategory(id) ON UPDATE CASCADE, FOREIGN KEY (mainCategory) REFERENCES mainCategory(id) ON UPDATE CASCADE, FOREIGN KEY (plantCategory) REFERENCES plantCategory(id) ON UPDATE CASCADE)",
"CREATE TABLE mainCategory (id string PRIMARY KEY, de string, fr string, it string, en string)",
"CREATE TABLE plantCategory (id string PRIMARY KEY, de string, fr string, it string, en string)",
"CREATE TABLE subCategory (id string PRIMARY KEY, de string, fr string, it string, en string)",
"CREATE TABLE indicator (id string PRIMARY KEY, descr string)",
"CREATE TABLE unit (id string,  mes string)",
"CREATE TABLE demoValue (id INTEGER PRIMARY KEY, bfsID string, period string, indicator string, unit string, value float, FOREIGN KEY (bfsID) REFERENCES city(bfsID) ON UPDATE CASCADE, FOREIGN KEY (indicator) REFERENCES indicator (id) ON UPDATE CASCADE, FOREIGN KEY (unit) REFERENCES unit(id) ON UPDATE CASCADE)",
"CREATE TABLE meteoParameter (parameterID string PRIMARY KEY , measure string, description string)",
"CREATE TABLE meteoStations (stn string PRIMARY KEY, stnName string, lawCityName string,  datasource string, bfsID string, coEast string, coNorth string, coLength string, coWide string, FOREIGN KEY (lawCityName) REFERENCES city (lawCityName) ON UPDATE CASCADE, FOREIGN KEY (bfsID) REFERENCES city (bfsID) ON UPDATE CASCADE)",
"CREATE TABLE meteoData (id INTEGER PRIMARY KEY, meteoStation string, meteoParameter string, dataTime string, value float, FOREIGN KEY (meteoStation) REFERENCES meteoStations (stn) ON UPDATE CASCADE, FOREIGN KEY (meteoParameter) REFERENCES meteoParameter (parameterID) ON UPDATE CASCADE)",
"CREATE TABLE meteoParamBfs (id INTEGER PRIMARY KEY, bfsID string, meteoParameter string, meteoStation string, FOREIGN KEY (bfsID) REFERENCES city (bfsID) ON UPDATE CASCADE, FOREIGN KEY (meteoParameter) References meteoParameter (parameterID) ON UPDATE CASCADE, FOREIGN KEY (meteoStation) REFERENCES meteoStations (stn) ON UPDATE CASCADE)"]

for code in sql:
    cursor.execute(code)

In [4]:
# Views erstellen
sql = [ "CREATE VIEW population AS SELECT id, bfsID, period, value FROM demoValue WHERE demoValue.indicator == 'Ind_01_01';",
        "CREATE VIEW population_density AS SELECT id, bfsID, period, value FROM demoValue WHERE demoValue.indicator == 'Ind_01_03';",
        "CREATE VIEW areaTotal AS SELECT id, bfsID, period, value FROM demoValue WHERE demoValue.indicator == 'Ind_04_01';",
        "CREATE VIEW areaSettlement AS SELECT id, bfsID, period, value FROM demoValue WHERE demoValue.indicator == 'Ind_04_02';",
        "CREATE VIEW areaAgricultural AS SELECT id, bfsID, period, value FROM demoValue WHERE demoValue.indicator == 'Ind_04_04';",
        "CREATE VIEW areaUnproductive AS SELECT id, bfsID, period, value FROM demoValue WHERE demoValue.indicator == 'Ind_04_07';",
        "CREATE VIEW keyFiguresPopulation as SELECT p.bfsID, p.period, p.value as population, pd.value as populationDensity FROM population p LEFT JOIN population_density pd ON p.bfsID = pd.bfsID AND p.period = pd.period;",
        "CREATE VIEW keyFiguresArea as SELECT a.bfsID, a.period as periodTotal, a.value as total,ase.period as periodSettlement, ase.value as settlement, aa.period as periodAgricultural, aa.value as agricultural, au.period as periodUnproductive, au.value as unproductive FROM areaTotal a LEFT JOIN areaSettlement ase ON a.bfsID = ase.bfsID LEFT JOIN areaAgricultural aa ON a.bfsID = aa.bfsID LEFT JOIN areaUnproductive au ON a.bfsID = au.bfsID;",
        "CREATE VIEW sumSmartmeter as SELECT s.plz as plz, bfsID, SUM(valueKwh) as 'kWh' FROM smartmeter as s LEFT JOIN (SELECT plz, bfsID FROM city GROUP BY plz) as c ON s.plz = c.plz GROUP BY bfsID;"
       ]

for code in sql:
    cursor.execute(code)

In [5]:
# City Daten einlesen als Dataframe und in DB sichern
city = pd.read_csv("./DATA/city_directory/AMTOVZ_CSV_LV95.csv", delimiter=";")

for index, row in city.iterrows():
    ort = '"' + row["Ortschaftsname"] + '"'
    lawCityName = '"' + row["Gemeindename"] + '"'
    if isinstance(row["Kantonskürzel"], str):
        kantonkuerzel = '"' + row["Kantonskürzel"] + '"'
    else:
        kantonkuerzel = "NULL"
    sql = "INSERT INTO city VALUES(NULL,{},{},{},{},{})".format(row["PLZ"], ort, row["BFS-Nr"], lawCityName, kantonkuerzel)
    cursor.execute(sql)

connection.commit()

In [6]:
# Solar Anlagen Daten einlesen als Dataframe und in DB sichern
plantCategory = pd.read_csv("./DATA/solar_powerplants/PlantCategoryCatalogue.csv", delimiter=",")
plantCategory.head()

for index, row in plantCategory.iterrows():
    catalogueId = '"' + row["Catalogue_id"] + '"'
    de = '"' + row["de"] + '"'
    fr = '"' + row["fr"] + '"'
    it = '"' + row["it"] + '"'
    en = '"' + row["en"] + '"'
    sql = "INSERT INTO plantCategory VALUES({},{},{},{},{})".format(catalogueId, de, fr, it, en)
    cursor.execute(sql)

connection.commit()

In [7]:
# Importieren der Hauptkategorien
mainCategory = pd.read_csv("./DATA/solar_powerplants/MainCategoryCatalogue.csv", delimiter=",")
mainCategory.head()

for index, row in mainCategory.iterrows():
    catalogueId = '"' + row["Catalogue_id"] + '"'
    de = '"' + row["de"] + '"'
    fr = '"' + row["fr"] + '"'
    it = '"' + row["it"] + '"'
    en = '"' + row["en"] + '"'
    sql = "INSERT INTO mainCategory VALUES({},{},{},{},{})".format(catalogueId, de, fr, it, en)
    cursor.execute(sql)

connection.commit()

In [8]:
# Importieren der Unterkategorien
subCategory = pd.read_csv("./DATA/solar_powerplants/SubCategoryCatalogue.csv", delimiter=",")
subCategory.head()

for index, row in subCategory.iterrows():
    catalogueId = '"' + row["Catalogue_id"] + '"'
    de = '"' + row["de"] + '"'
    fr = '"' + row["fr"] + '"'
    it = '"' + row["it"] + '"'
    en = '"' + row["en"] + '"'
    sql = "INSERT INTO subCategory VALUES({},{},{},{},{})".format(catalogueId, de, fr, it, en)
    cursor.execute(sql)

connection.commit()

In [9]:
# Importieren der Solar Kraftanlagen
electricityProductionPlant = pd.read_csv("./DATA/solar_powerplants/ElectricityProductionPlant.csv", delimiter=",")
electricityProductionPlant.head()
electricityProductionPlant.replace(np.nan, "NULL", inplace=True)

for index, row in electricityProductionPlant.iterrows():
    mainCategoryId = '"' + row["MainCategory"] + '"'
    subCategoryId = '"' + row["SubCategory"] + '"'
    xCor = row["_x"]
    yCor = row["_y"]
    
    if isinstance(row["PlantCategory"], str):
        plantCategoryId = '"' + row["PlantCategory"] + '"'
    else:
        plantCategoryId = "NULL"
        
    sql = "INSERT INTO solarPlants VALUES(NULL,{},{},{},{},{},{},{},{})".format(row["xtf_id"], row["PostCode"], row["TotalPower"], mainCategoryId, subCategoryId, plantCategoryId, xCor, yCor)
    cursor.execute(sql)
    
connection.commit()

In [10]:
#Importieren Demografie Daten Indikator
demoIndicator = pd.read_csv("./DATA/key_figures_communities/Indicator_DemoData.csv", delimiter=";")

for index, row in demoIndicator.iterrows():
    indicatorId = '"' + row["INDICATORS"] + '"'
    de = '"' + row["DE"] + '"'
    
    sql = "INSERT INTO indicator VALUES({},{})".format(indicatorId, de)
    cursor.execute(sql)
    
connection.commit()

In [11]:
#Importieren Unit Messeinheit
unitMeas = pd.read_csv("./DATA/key_figures_communities/unit_mes_DemoData.csv", delimiter=";")

for index, row in unitMeas.iterrows():
    unitMeasId = '"' + row["UNIT_MES"] + '"'
    unit = '"' + row["Einheit"] + '"'
    
    sql = "INSERT INTO unit VALUES({}, {})".format(unitMeasId, unit)
    cursor.execute(sql)

connection.commit()

In [12]:
#Importieren demoValue
demoValue = pd.read_csv("./DATA/key_figures_communities/ts-x-21.03.01.csv", delimiter=";", dtype={'PERIOD_REF': str, 'PERIOD_COMP': str, 'REGION': str})
demoValue.replace("CH", 0, inplace=True)
demoValue.replace(np.nan, "NULL", inplace=True)

for index, row in demoValue.iterrows():
    period = row["PERIOD_REF"]
    if isinstance(period, str):
        period = '"' + period + '"'
    else:
        period = str(period)
        period = '"' + period + '"'
        
    indicator = '"' + row["INDICATORS"] + '"'
    unit = '"' + row["UNIT_MES"] + '"'
    
    sql = "INSERT INTO demoValue VALUES(NULL,{},{},{},{},{})".format(row["CODE_REGION"], period, indicator, unit, row["VALUE"])
    cursor.execute(sql)
    
connection.commit()

In [13]:
# Importieren SmartMeter DATA
path = './DATA/smartmeter'
csv_files = glob.glob(path + '/*.csv.gz')
df_list = (pd.read_csv(file) for file in csv_files)

smartmeter_df = pd.concat(df_list, ignore_index=True)

for index, row in smartmeter_df.iterrows():
    datetime = '"' + row["timestamp"] + '"'
    sql = "INSERT INTO smartmeter VALUES(NULL,{},{},{},{})".format(row["area_code"], datetime, row["num_meter"], row["value_kwh"])
    cursor.execute(sql)
    
connection.commit()

In [14]:
#Test Date Time and manipulation

#input = '2020012400' + '00'
#output = '%Y%m%d%H%M'

#date = datetime.datetime.strptime(input, output).strftime('%Y-%m-%d %H:%M')

#df = pd.DataFrame({'date':['2020012400', '2020012400']})

#print(df)

#df['date'] += '00'

#print(df)

#print(date)

In [15]:
#Import Meteo Parameter
meteoParameter = pd.read_csv("./DATA/meteo/parameter.csv", delimiter=";")

meteoParameter.head()
meteoParameter["parameterID"] = '"' + meteoParameter["parameterID"] + '"'
meteoParameter["measure"] = '"' + meteoParameter["measure"] + '"'
meteoParameter["description"] = '"' + meteoParameter["description"] + '"'

for index, row in meteoParameter.iterrows():
    sql = "INSERT INTO meteoParameter VALUES({}, {}, {})".format(row["parameterID"], row["measure"], row["description"])
    cursor.execute(sql)

connection.commit()

In [25]:
#Import Meteo Stations
meteoStations = pd.read_csv("./DATA/meteo/meteoStation.csv", delimiter=";")

meteoStations["stn"] = '"' + meteoStations["stn"] + '"'
meteoStations["stnName"] = '"' + meteoStations["stnName"] + '"'
meteoStations["lawCityName"] = '"' + meteoStations["lawCityName"] + '"'
meteoStations["datasource"] = '"' + meteoStations["datasource"] + '"'
meteoStations["coLength"] = '"' + meteoStations["coLength"] + '"'
meteoStations["coWide"] = '"' + meteoStations["coWide"] + '"'

for index, row in meteoStations.iterrows():
    sql = "INSERT INTO meteoStations VALUES({}, {}, {}, {}, {}, {}, {}, {}, {})".format(row["stn"], row["stnName"], row["lawCityName"], row["datasource"], row["bfsId"], row["coEast"], row["coNorth"], row["coLength"], row["coWide"])
    cursor.execute(sql)

connection.commit()

INSERT INTO meteoStations VALUES("ZGGRE", "Greppen", "Greppen", "Gewässerschutzverband der Region Zugersee-Küssnachtersee-Ägerisee", 1056, 675282, 212747, "8°26'", "47°04'")
INSERT INTO meteoStations VALUES("ZELUZI", "Zinggen", "greppen", "Kanton Luzern; zentras", 1056, 645418, 202081, "8°02'", "46°58'")
INSERT INTO meteoStations VALUES("ZELUWK", "Wikon", "Wikon", "Kanton Luzern; zentras", 1147, 639947, 234508, "7°58'", "47°16'")
INSERT INTO meteoStations VALUES("ZELUWI", "Wikon", "Escholzmatt-Marbach", "Kanton Luzern; zentras", 1010, 636014, 193238, "7°55'", "46°53'")
INSERT INTO meteoStations VALUES("ZELUWE", "Weggis", "Weggis", "Kanton Luzern; zentras", 1069, 674923, 210861, "8°25'", "47°03'")
INSERT INTO meteoStations VALUES("ZELUVI", "Vitznau", "Vitznau", "Kanton Luzern; zentras", 1068, 679542, 206692, "8°29'", "47°00'")
INSERT INTO meteoStations VALUES("ZELUUM", "Umfahrung Malters", "Malters", "Kanton Luzern; zentras", 1062, 651827, 210776, "8°07'", "47°03'")
INSERT INTO meteoStations VALUES("ZELUUF", "Ufhusen", "Ufhusen", "Kanton Luzern; zentras", 1145, 633452, 219521, "7°53'", "47°08'")
INSERT INTO meteoStations VALUES("ZELUTR", "Triengen", "Triengen", "Kanton Luzern; zentras", 1104, 647678, 233270, "8°04'", "47°15'")
INSERT INTO meteoStations VALUES("ZELUTG", "Trutigen", "Neuenkirch", "Bundesamt für Strassen", 1093, 659320, 219681, "8°13'", "47°08'")
INSERT INTO meteoStations VALUES("ZELUTB", "Triechterbrücke", "Schenkon", "Bundesamt für Strassen", 1099, 652325, 225021, "8°08'", "47°10'")
INSERT INTO meteoStations VALUES("ZELUST", "Stänglematten", "Dagmersellen", "Bundesamt für Strassen", 1125, 640780, 229151, "7°59'", "47°13'")
INSERT INTO meteoStations VALUES("ZELUSO", "Sörenberg", "Flühli", "Kanton Luzern; zentras", 1004, 644745, 186215, "8°02'", "46°50'")
INSERT INTO meteoStations VALUES("ZELUSM", "Schüpfheim", "Schüpfheim", "Kanton Luzern; zentras", 1008, 643956, 197614, "8°01'", "46°56'")
INSERT INTO meteoStations VALUES("ZELUSH", "Schwanderholz", "Werthenstein", "Kanton Luzern; zentras", 1009, 648438, 208988, "8°05'", "47°02'")
INSERT INTO meteoStations VALUES("ZELUSG", "Schongau", "Schongau", "Kanton Luzern; zentras", 1041, 661591, 235470, "8°15'", "47°16'")
INSERT INTO meteoStations VALUES("ZELUSC", "Schlund", "Kriens", "Bundesamt für Strassen", 1059, 665329, 207833, "8°18'", "47°01'")
INSERT INTO meteoStations VALUES("ZELUSB", "Schwarzenberg", "Schwarzenberg", "Kanton Luzern; zentras", 1066, 655587, 208155, "8°10'", "47°01'")
INSERT INTO meteoStations VALUES("ZELURW", "Roggliswil", "Roggliswil", "Kanton Luzern; zentras", 1142, 633462, 230139, "7°53'", "47°13'")
INSERT INTO meteoStations VALUES("ZELURU", "Ruswil", "Ruswil", "Kanton Luzern; zentras", 1098, 654513, 213594, "8°09'", "47°04'")
INSERT INTO meteoStations VALUES("ZELURS", "Rüeggisingerbrücke", "Emmen", "Bundesamt für Strassen", 1024, 664082, 214922, "8°17'", "47°05'")
INSERT INTO meteoStations VALUES("ZELURO", "Rothenburg", "Rothenburg", "Kanton Luzern; zentras", 1040, 662314, 217586, "8°16'", "47°06'")
INSERT INTO meteoStations VALUES("ZELURN", "Rotbach Nationalstrasse", "Emmen", "Bundesamt für Strassen", 1024, 662434, 214974, "8°16'", "47°05'")
INSERT INTO meteoStations VALUES("ZELURK", "Rotback Kantonsstrasse", "Emmen", "Kanton Luzern; zentras", 1024, 662226, 215127, "8°15'", "47°05'")
INSERT INTO meteoStations VALUES("ZELURI", "Rickenbach", "Rickenbach (LU)", "Kanton Luzern; zentras", 1097, 654622, 229752, "8°10'", "47°13'")
INSERT INTO meteoStations VALUES("ZELURB", "Reussbrücke", "Buchrain", "Bundesamt für Strassen", 1052, 668541, 216929, "8°20'", "47°06'")
INSERT INTO meteoStations VALUES("ZELUOK", "Oberkirch", "Oberkirch", "Kanton Luzern; zentras", 1095, 650497, 223510, "8°06'", "47°10'")
INSERT INTO meteoStations VALUES("ZELUNK", "Neuenkirch", "Neuenkirch", "Kanton Luzern; zentras", 1093, 656583, 218604, "8°11'", "47°07'")
INSERT INTO meteoStations VALUES("ZELUMK", "Meierskappel", "Meierskappel", "Kanton Luzern; zentras", 1064, 674737, 217873, "8°25'", "47°06'")
INSERT INTO meteoStations VALUES("ZELUME", "Menznau", "Menznau", "Kanton Luzern; zentras", 1136, 644904, 215445, "8°02'", "47°05'")
INSERT INTO meteoStations VALUES("ZELUMB", "Menzberg", "Menznau", "Kanton Luzern; zentras", 1136, 642483, 211214, "7°60'", "47°03'")
INSERT INTO meteoStations VALUES("ZELULI", "Littau", "Luzern", "Kanton Luzern; zentras", 1061, 661816, 210772, "8°15'", "47°03'")
INSERT INTO meteoStations VALUES("ZELULE", "Lehn", "Escholzmatt-Marbach", "Kanton Luzern; zentras", 1010, 641325, 198075, "7°59'", "46°56'")
INSERT INTO meteoStations VALUES("ZELULB", "Littauerboden", "Malters", "Kanton Luzern; zentras", 1062, 661458, 211526, "8°15'", "47°03'")
INSERT INTO meteoStations VALUES("ZELUKW", "Kottwil", "Ettiswil", "Kanton Luzern; zentras", 1128, 646556, 224189, "8°03'", "47°10'")
INSERT INTO meteoStations VALUES("ZELUKH", "Knutwilerhöhe", "Knutwil", "Bundesamt für Strassen", 1089, 648422, 226640, "8°05'", "47°11'")
INSERT INTO meteoStations VALUES("ZELUHW", "Hergiswil", "Hergiswil bei Willisau", "Kanton Luzern; zentras", 1132, 639708, 215653, "7°58'", "47°05'")
INSERT INTO meteoStations VALUES("ZELUHR", "Hildisrieden", "Hildisrieden", "Kanton Luzern; zentras", 1088, 659434, 223061, "8°13'", "47°09'")
INSERT INTO meteoStations VALUES("ZELUHE", "Herlisberg", "Beromünster", "Kanton Luzern; zentras", 1081, 659609, 228186, "8°14'", "47°12'")
INSERT INTO meteoStations VALUES("ZELUHB", "Hämikon Berg", "Hitzkirch", "Kanton Luzern; zentras", 1030, 665229, 232749, "8°18'", "47°15'")
INSERT INTO meteoStations VALUES("ZELUHA", "Haltiwald N2", "Horw", "Bundesamt für Strassen", 1058, 666360, 205789, "8°19'", "46°60'")
INSERT INTO meteoStations VALUES("ZELUGI", "Gisikon", "Gisikon", "Kanton Luzern; zentras", 1055, 672600, 220341, "8°24'", "47°08'")
INSERT INTO meteoStations VALUES("ZELUGE", "Gettnau", "Willisau", "Kanton Luzern; zentras", 1151, 639385, 220778, "7°57'", "47°08'")
INSERT INTO meteoStations VALUES("ZELUGB", "Grosshofbrücke", "Kriens", "Bundesamt für Strassen", 1059, 665110, 209975, "8°18'", "47°02'")
INSERT INTO meteoStations VALUES("ZELUFT", "Fontannen / Romoos", "Doppleschwand", "Kanton Luzern; zentras", 1001, 645527, 207445, "8°02'", "47°01'")
INSERT INTO meteoStations VALUES("ZELUEB", "Eschenbach", "Eschenbach (LU)", "Kanton Luzern; zentras", 1026, 666845, 221568, "8°19'", "47°09'")
INSERT INTO meteoStations VALUES("ZELUBU", "Buchs", "Dagmersellen", "Kanton Luzern; zentras", 1125, 645598, 228503, "8°02'", "47°12'")
INSERT INTO meteoStations VALUES("ZELUBR", "Buchrain", "Buchrain", "Kanton Luzern; zentras", 1052, 669187, 217068, "8°21'", "47°06'")
INSERT INTO meteoStations VALUES("ZELUBH", "Buttisholz", "Buttisholz", "Kanton Luzern; zentras", 1083, 650676, 219221, "8°06'", "47°07'")
INSERT INTO meteoStations VALUES("ZELUBD", "Bermudadreieck", "Ebikon", "Bundesamt für Strassen", 1054, 665175, 213685, "8°18'", "47°04'")
INSERT INTO meteoStations VALUES("ZELUAW", "Alberswil", "Alberswil", "Kanton Luzern; zentras", 1121, 642580, 223048, "8°00'", "47°09'")
INSERT INTO meteoStations VALUES("ZELUAE", "Aesch", "Aesch (LU)", "Kanton Luzern; zentras", 1021, 660531, 235073, "8°14'", "47°16'")
INSERT INTO meteoStations VALUES("SPF", "Schüpfheim", "Schüpfheim", "MeteoSchweiz", 1008, 643683, 199710, "8°01'", "46°57'")
INSERT INTO meteoStations VALUES("NABBRM", "Bermünster", "Beromünster", "Bundesamt für Umwelt", 1081, 655842, 226777, "8°11'", "47°11'")
INSERT INTO meteoStations VALUES("MOA", "Mosen", "Hitzkirch", "MeteoSchweiz", 1030, 660128, 232852, "8°14'", "47°15'")
INSERT INTO meteoStations VALUES("MMTRG", "Triengen", "Triengen", "DTN Schweiz AG", 1104, 648430, 230884, "8°05'", "47°14'")
INSERT INTO meteoStations VALUES("LUZ", "Luzern", "Luzern", "Kanton Luzern", 1061, 665543, 209849, "8°18'", "47°02'")
INSERT INTO meteoStations VALUES("LUWOL", "Wolhusen", "Wolhusen", "Kanton Luzern", 1107, 648090, 212490, "8°04'", "47°04'")
INSERT INTO meteoStations VALUES("LUWIL", "Willisau", "Willisau", "Kanton Luzern", 1151, 642650, 220780, "8°00'", "47°08'")
INSERT INTO meteoStations VALUES("LUSUR", "Sursee", "Sursee", "Kanton Luzern", 1103, 649930, 225040, "8°06'", "47°10'")
INSERT INTO meteoStations VALUES("LUSEM", "Sempach", "Sempach", "Kanton Luzern", 1102, 656880, 219360, "8°11'", "47°07'")
INSERT INTO meteoStations VALUES("LUSCH", "Schüpfheim", "Schüpfheim", "Kanton Luzern", 1008, 644500, 200940, "8°01'", "46°57'")
INSERT INTO meteoStations VALUES("LUROO", "Root", "Root", "Kanton Luzern", 1065, 672060, 218910, "8°23'", "47°07'")
INSERT INTO meteoStations VALUES("LUMAL", "Malters", "Malters", "Kanton Luzern", 1062, 656760, 210150, "8°11'", "47°02'")
INSERT INTO meteoStations VALUES("LULAN", "Langnau", "Reiden", "Kanton Luzern", 1140, 640360, 231200, "7°58'", "47°14'")
INSERT INTO meteoStations VALUES("LUHOC", "Hochdorf", "Hochdorf", "Kanton Luzern", 1031, 663850, 225520, "8°17'", "47°11'")
INSERT INTO meteoStations VALUES("LUEMM", "Emmen", "Emmen", "Kanton Luzern", 1024, 666800, 215725, "8°19'", "47°05'")
INSERT INTO meteoStations VALUES("INNRED", "Reiden", "Reiden", "inNET Monitoring AG ", 1140, 639560, 232110, "7°58'", "47°14'")
INSERT INTO meteoStations VALUES("INNLUZ", "Luzern", "Luzern", "inNET Monitoring AG ", 1061, 665789, 210898, "8°18'", "47°03'")
INSERT INTO meteoStations VALUES("INNEBI", "Ebikon", "Ebikon", "inNET Monitoring AG ", 1054, 665478, 213381, "8°18'", "47°04'")
INSERT INTO meteoStations VALUES("FLU", "Flühli", "Flühli", "MeteoSchweiz", 1004, 644332, 193311, "8°01'", "46°53'")
INSERT INTO meteoStations VALUES("ENT", "Entlebuch", "Entlebuch", "MeteoSchweiz", 1002, 647935, 204165, "8°04'", "46°59'")
INSERT INTO meteoStations VALUES("EMM", "Emmen", "Emmen", "Schweizer Armee - Luftwaffe", 1024, 665102, 215165, "8°18'", "47°05'")
INSERT INTO meteoStations VALUES("EGO", "Egolzwil", "Egolzwil", "MeteoSchweiz", 1127, 642912, 225540, "8°00'", "47°11'")
INSERT INTO meteoStations VALUES("BEMBE", "Marbachegg", "Escholzmatt-Marbach", "Kanton Bern", 1010, 635550, 186385, "7°54'", "46°50'")

In [47]:
#Import MeteoData of parameter rre150h0
#Files bereinigen mit den ersten zwei Zeilen jeder Datei überspringen
path = './DATA/meteo/data'
csv_files = glob.glob(path + '/*rre150h0*data.txt')
df_list = (pd.read_csv(file, delimiter=';', na_values= '-') for file in csv_files)

meteo_df = pd.concat(df_list, ignore_index=True)
meteo_df.replace(np.nan, "NULL", inplace=True)
meteo_df = meteo_df.astype({'time': str})
meteo_df['time'] = meteo_df['time'] + '00' 

meteo_df['time'] = '"' + meteo_df['time'] + '"'
meteo_df['stn'] = '"' + meteo_df['stn'] + '"'


for index, row in meteo_df.iterrows():
    sql = "INSERT INTO meteoData VALUES(NULL,{},{},{},{})".format(row["stn"], '"rre150h0"', row["time"], row["rre150h0"])
    cursor.execute(sql)

connection.commit()

In [48]:
#Import MeteoData of parameter tre200h0
path = './DATA/meteo/data'
csv_files = glob.glob(path + '/*tre200h0*data.txt')
df_list = (pd.read_csv(file, delimiter=';', na_values= '-') for file in csv_files)

meteo_df = pd.concat(df_list, ignore_index=True)
meteo_df.replace(np.nan, "NULL", inplace=True)
meteo_df = meteo_df.astype({'time': str})
meteo_df['time'] = meteo_df['time'] + '00'

meteo_df['time'] = '"' + meteo_df['time'] + '"'
meteo_df['stn'] = '"' + meteo_df['stn'] + '"'

for index, row in meteo_df.iterrows():
    sql = "INSERT INTO meteoData VALUES(NULL,{},{},{},{})".format(row["stn"], '"tre200h0"', row["time"], row["tre200h0"])
    cursor.execute(sql)

connection.commit()

In [50]:
#Import MeteoData of parameter sre000h0
path = './DATA/meteo/data'
csv_files = glob.glob(path + '/*sre000h0*data.txt')
df_list = (pd.read_csv(file, delimiter=';', na_values= '-') for file in csv_files)

meteo_df = pd.concat(df_list, ignore_index=True)
meteo_df.replace(np.nan, "NULL", inplace=True)
meteo_df = meteo_df.astype({'time': str})
meteo_df['time'] = meteo_df['time'] + '00'

meteo_df['time'] = '"' + meteo_df['time'] + '"'
meteo_df['stn'] = '"' + meteo_df['stn'] + '"'

for index, row in meteo_df.iterrows():
    sql = "INSERT INTO meteoData VALUES(NULL,{},{},{},{})".format(row["stn"], '"sre000h0"', row["time"], row["sre000h0"])
    cursor.execute(sql)

connection.commit()