In [22]:
# Import libraries
import glob
import pandas as pd

# Get CSV files list from a folder
path = './DATA/smartmeter'
csv_files = glob.glob(path + "/*.csv.gz")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
big_df   = pd.concat(df_list, ignore_index=True)
big_df.head()

   area_code                 timestamp  num_meter  value_kwh
0       6016  2022-04-24T05:45:00.000Z         85      7.449
1       6016  2022-04-24T03:30:00.000Z         85     11.407
2       6016  2022-04-29T06:45:00.000Z         85      7.546
3       6016  2022-04-30T21:30:00.000Z         85     13.642
4       6016  2022-04-16T06:15:00.000Z         85     13.068