<a href="https://colab.research.google.com/github/7Horizon/BINA-CaseStudy/blob/master/Smartmeter_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install packages
!pip install openmeteo-requests
!pip install requests-cache retry-requests

In [2]:
# Import libraries
import glob
import pandas as pd
import openmeteo_requests
import requests_cache
from retry_requests import retry

ModuleNotFoundError: No module named 'openmeteo_requests'

In [10]:
# Import city Directory for data mapping
csv_file = './DATA/city_directory/AMTOVZ_CSV_LV95.csv'

city_directory_df = pd.read_csv(csv_file, sep=';', quotechar='"', dtype='str')
city_directory_df.head()

,Ortschaftsname,PLZ,Zusatzziffer,Gemeindename,BFS-Nr,Kantonskürzel,E,N,Sprache,Validity
0,Aeugst am Albis,8914,00,Aeugst am Albis,1,ZH,2679402.872,1235842.010,de,2008-07-01
1,Aeugstertal,8914,02,Aeugst am Albis,1,ZH,2679815.372,1237404.310,de,2008-07-01
2,Zwillikon,8909,00,Affoltern am Albis,2,ZH,2675280.133,1238108.286,de,2008-07-01
3,Affoltern am Albis,8910,00,Affoltern am Albis,2,ZH,2676852.012,1236929.718,de,2008-07-01
4,Bonstetten,8906,00,Bonstetten,3,ZH,2677412.150,1241078.278,de,2008-07-01

In [37]:
# Get Key Figures Communities
csv_file = './DATA/key_figures_communities/ts-x-21.03.01.csv'

key_figures_df = pd.read_csv(csv_file, sep=';', quotechar='"', dtype='str')
key_figures_df.head(10000000)

,PERIOD_REF,PERIOD_COMP,CODE_REGION,REGION,INDICATORS,UNIT_MES,VALUE,STATUS
0,2019,NaN,CH,Schweiz,Ind_01_01,UM_6,8606033,A
1,2019,NaN,1,Aeugst am Albis,Ind_01_01,UM_6,1981,A
2,2019,NaN,2,Affoltern am Albis,Ind_01_01,UM_6,12303,A
3,2019,NaN,3,Bonstetten,Ind_01_01,UM_6,5572,A
4,2019,NaN,4,Hausen am Albis,Ind_01_01,UM_6,3751,A
...,...,...,...,...,...,...,...,...
89088,2019,NaN,6806,Vendlincourt,Ind_14_10,UM_2,NaN,M
89089,2019,NaN,6807,Basse-Allaine,Ind_14_10,UM_2,NaN,M
89090,2019,NaN,6808,Clos du Doubs,Ind_14_10,UM_2,NaN,M
89091,2019,NaN,6809,Haute-Ajoie,Ind_14_10,UM_2,NaN,M
89092,2019,NaN,6810,La Baroche,Ind_14_10,UM_2,NaN,M

In [40]:
# Add City Code
key_figures_df_merged = key_figures_df.merge(city_directory_df, left_on='REGION', right_on='Ortschaftsname', how='left')
#key_figures_df.drop(columns=['Ortschaftsname', 'Gemeindename', 'Validity'], axis=1, inplace=True)
key_figures_df_merged.head(10000000)

,PERIOD_REF,PERIOD_COMP,CODE_REGION,REGION,INDICATORS,UNIT_MES,VALUE,STATUS,Ortschaftsname,PLZ,Zusatzziffer,Gemeindename,BFS-Nr,Kantonskürzel,E,N,Sprache,Validity
0,2019,NaN,CH,Schweiz,Ind_01_01,UM_6,8606033,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,NaN,1,Aeugst am Albis,Ind_01_01,UM_6,1981,A,Aeugst am Albis,8914,00,Aeugst am Albis,1,ZH,2679402.872,1235842.010,de,2008-07-01
2,2019,NaN,2,Affoltern am Albis,Ind_01_01,UM_6,12303,A,Affoltern am Albis,8910,00,Affoltern am Albis,2,ZH,2676852.012,1236929.718,de,2008-07-01
3,2019,NaN,2,Affoltern am Albis,Ind_01_01,UM_6,12303,A,Affoltern am Albis,8910,00,Obfelden,10,ZH,2675665.187,1236090.022,de,2008-07-01
4,2019,NaN,3,Bonstetten,Ind_01_01,UM_6,5572,A,Bonstetten,8906,00,Bonstetten,3,ZH,2677412.150,1241078.278,de,2008-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131933,2019,NaN,6806,Vendlincourt,Ind_14_10,UM_2,NaN,M,Vendlincourt,2943,00,Vendlincourt,6806,JU,2577684.852,1255794.079,fr,2008-07-01
131934,2019,NaN,6807,Basse-Allaine,Ind_14_10,UM_2,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131935,2019,NaN,6808,Clos du Doubs,Ind_14_10,UM_2,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131936,2019,NaN,6809,Haute-Ajoie,Ind_14_10,UM_2,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131937,2019,NaN,6810,La Baroche,Ind_14_10,UM_2,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Get Smartmeter Data
# Get CSV files list from folder
path = './DATA/smartmeter'
csv_files = glob.glob(path + "/*.csv.gz")

# Read each CSV file into DataFrame
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
smartmeter_df = pd.concat(df_list, ignore_index=True)
smartmeter_df.head()

,PERIOD_REF,PERIOD_COMP,CODE_REGION,REGION,INDICATORS,UNIT_MES,VALUE,STATUS
0,2019,NaN,CH,Schweiz,Ind_01_01,UM_6,8606033,A
1,2019,NaN,1,Aeugst am Albis,Ind_01_01,UM_6,1981,A
2,2019,NaN,2,Affoltern am Albis,Ind_01_01,UM_6,12303,A
3,2019,NaN,3,Bonstetten,Ind_01_01,UM_6,5572,A
4,2019,NaN,4,Hausen am Albis,Ind_01_01,UM_6,3751,A
...,...,...,...,...,...,...,...,...
89088,2019,NaN,6806,Vendlincourt,Ind_14_10,UM_2,NaN,M
89089,2019,NaN,6807,Basse-Allaine,Ind_14_10,UM_2,NaN,M
89090,2019,NaN,6808,Clos du Doubs,Ind_14_10,UM_2,NaN,M
89091,2019,NaN,6809,Haute-Ajoie,Ind_14_10,UM_2,NaN,M
89092,2019,NaN,6810,La Baroche,Ind_14_10,UM_2,NaN,M

In [8]:
# Import Weather Data from Entlebuch in a hourly base
# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
	"latitude": 46.9956,
	"longitude": 8.0635,
	"start_date": "2021-01-01",
	"end_date": "2024-03-23",
	"hourly": ["temperature_2m", "relative_humidity_2m", "rain", "snowfall", "weather_code", "cloud_cover", "wind_speed_10m", "wind_direction_10m", "wind_gusts_10m", "sunshine_duration"],
	"timezone": "Europe/Berlin"
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_relative_humidity_2m = hourly.Variables(1).ValuesAsNumpy()
hourly_rain = hourly.Variables(2).ValuesAsNumpy()
hourly_snowfall = hourly.Variables(3).ValuesAsNumpy()
hourly_weather_code = hourly.Variables(4).ValuesAsNumpy()
hourly_cloud_cover = hourly.Variables(5).ValuesAsNumpy()
hourly_wind_speed_10m = hourly.Variables(6).ValuesAsNumpy()
hourly_wind_direction_10m = hourly.Variables(7).ValuesAsNumpy()
hourly_wind_gusts_10m = hourly.Variables(8).ValuesAsNumpy()
hourly_sunshine_duration = hourly.Variables(9).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["relative_humidity_2m"] = hourly_relative_humidity_2m
hourly_data["rain"] = hourly_rain
hourly_data["snowfall"] = hourly_snowfall
hourly_data["weather_code"] = hourly_weather_code
hourly_data["cloud_cover"] = hourly_cloud_cover
hourly_data["wind_speed_10m"] = hourly_wind_speed_10m
hourly_data["wind_direction_10m"] = hourly_wind_direction_10m
hourly_data["wind_gusts_10m"] = hourly_wind_gusts_10m
hourly_data["sunshine_duration"] = hourly_sunshine_duration

hourly_dataframe = pd.DataFrame(data = hourly_data)
hourly_dataframe.head()

Coordinates 46.99472427368164°N 8.181818008422852°E
Elevation 684.0 m asl
Timezone b'Europe/Berlin' b'CET'
Timezone difference to GMT+0 3600 s

,date,temperature_2m,relative_humidity_2m,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_direction_10m,wind_gusts_10m,sunshine_duration
0,2020-12-31 23:00:00+00:00,-2.856,73.364670,0.0,0.07,71.0,90.300003,4.394360,214.992096,19.080000,0.0
1,2021-01-01 00:00:00+00:00,-4.006,74.575394,0.0,0.07,71.0,81.300003,5.400000,216.869980,19.440001,0.0
2,2021-01-01 01:00:00+00:00,-3.356,74.694954,0.0,0.42,73.0,54.000004,5.804825,209.744797,23.759998,0.0
3,2021-01-01 02:00:00+00:00,-3.806,74.324341,0.0,0.00,2.0,71.700005,5.154415,204.775116,24.840000,0.0
4,2021-01-01 03:00:00+00:00,-3.656,75.800491,0.0,0.00,2.0,77.100006,4.104631,217.875046,21.240000,0.0

In [5]:
# Import Solar Powerplants
solar_powerplants = './DATA/solar_powerplants/ElectricityProductionPlant.csv'
solar_powerplants_df = pd.read_csv(solar_powerplants, sep=',', dtype='str')
solar_powerplants_df.head()

,xtf_id,Address,PostCode,Municipality,Canton,BeginningOfOperation,InitialPower,TotalPower,MainCategory,SubCategory,PlantCategory,_x,_y
0,14727,Schlossstrasse 15,4147,Aesch BL,BL,2009-05-05,14.65,18.81,maincat_2,subcat_2,plantcat_9,2611936,1257011
1,14728,Ob der Steig 1,5082,Kaisten,AG,2011-10-28,5.8,5.8,maincat_2,subcat_2,plantcat_8,2645758,1265094
2,10164,Gässli 4,3114,Wichtrach,BE,2008-10-07,3,3,maincat_2,subcat_2,plantcat_8,2610547,1188979
3,10794,Diemtigtalstrasse 46,3753,Oey,BE,2008-06-27,8.4,8.4,maincat_2,subcat_2,plantcat_8,2610529,1167346
4,9476,Holzweidstrasse 8,8340,Hinwil,ZH,2006-04-21,4.8,4.8,maincat_2,subcat_2,plantcat_8,2705863,1240553