In [1]:
# Import libraries
import glob
import pandas as pd

In [2]:
# Get Smartmeter Data
# Get CSV files list from folder
path = './DATA/smartmeter'
csv_files = glob.glob(path + "/*.csv.gz")

# Read each CSV file into DataFrame
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
smartmeter_df = pd.concat(df_list, ignore_index=True)
smartmeter_df.head()

   area_code                 timestamp  num_meter  value_kwh
0       6016  2022-04-24T05:45:00.000Z         85      7.449
1       6016  2022-04-24T03:30:00.000Z         85     11.407
2       6016  2022-04-29T06:45:00.000Z         85      7.546
3       6016  2022-04-30T21:30:00.000Z         85     13.642
4       6016  2022-04-16T06:15:00.000Z         85     13.068

In [9]:
#Get Key Figures Communities
csv_file = './DATA/key_figures_communities/ts-x-21.03.01.csv'

key_figures_df = pd.read_csv(file, sep=';', quotechar='"', dtype='str')
key_figures_df.head()

,PERIOD_REF,PERIOD_COMP,CODE_REGION,REGION,INDICATORS,UNIT_MES,VALUE,STATUS
0,2019,NaN,CH,Schweiz,Ind_01_01,UM_6,8606033,A
1,2019,NaN,1,Aeugst am Albis,Ind_01_01,UM_6,1981,A
2,2019,NaN,2,Affoltern am Albis,Ind_01_01,UM_6,12303,A
3,2019,NaN,3,Bonstetten,Ind_01_01,UM_6,5572,A
4,2019,NaN,4,Hausen am Albis,Ind_01_01,UM_6,3751,A